# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
*.tfvars.backup
override.tf
*.plan
override.tf.json
*_override.tf
*_override.tf.json

# Local junk
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Local tfvars (optional, but I’d keep it tracked)
# If you want to keep terraform.local.tfvars private, uncomment:
terraform.local.tfvars

# Python bytecode (for Lambda)
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

#####################################
# OS / misc
#####################################
Thumbs.db


# # Terraform state files
# *.tfstate
# *.tfstate.*

# # Terraform crash logs
# crash.log

# # Terraform local working dirs
# .terraform/

# # Terraform backups
# *.tfvars.backup

# # Override files
# override.tf
# override.tf.json
# *_override.tf
# *_override.tf.json

